// Colors
$bg-color: #f2f2f2;
$grey: #d6d6d6;

// Spacers
$spacer: 1rem;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: ($spacer * 0.9),
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 9),
  7: ($spacer * 16)
);