.board {

}

.board__item {
  align-self:flex-start;
  &.hide {
    background-color: white;
    border: 1px solid $grey;
    border-radius: .25rem;
    img {
      visibility: hidden;
    }

    &:hover {
      cursor: pointer;
    }
  }

  img {
    height: auto;
    width: 100px;
  }
}